ASSIGNMENT

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
s = "PWSKILLS"
l = [10,45,70.5,[3,5,78],True]
f = 45.5
t = (1,2,3)
print(s)
print(l)
print(f)
print(t)

PWSKILLS
[10, 45, 70.5, [3, 5, 78], True]
45.5
(1, 2, 3)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [2]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = ['DS','ML','Python']
var4 = 1

In [3]:
print(type(var1),type(var2),type(var3),type(var4))

<class 'str'> <class 'str'> <class 'list'> <class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / -> It divides the two numbers a and b (a/b) and returns the quotient. It return the number in float datatype. And a and b must be numeric or we can use boolean datatype because True is consider as 1 and False is consider as 0. some examples are given below.

In [4]:
5/2

2.5

In [5]:
8/2

4.0

(ii) % It is used to give the reminder when one number is divided by another number (a%b). Here this fucntion will give the reminder when a will divided by b. It returns the result in int datatype. Here a and b must be numbers as like above.

In [6]:
5%2

1

(iii) // It is used to return the number by which a is completely divide by b. It also gives the return in int datatype. It is different from /, / used to give the number when a is divided by b but in this remainder used to be 0. But in //, it is not necessary remainder will be 0. Like 5//2 will give 2 because 5 = 2*2 +1 that means 1 is remainder.

In [7]:
8//2

4

In [8]:
5//2

2

(iv) ** It is used to find the bth power of a number. (a**b) - > Like (2**2) that means 2th power of 2 that is 4

In [9]:
3**3

27

In [10]:
4**2

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [11]:
l = [1,56,70.5,"PWSKILLS",[1,2,3],True,70,45,80,100]
for i in range(len(l)):
    print(l[i],type(l[i]))
    i+=1
else:
    print("code run successfully")

1 <class 'int'>
56 <class 'int'>
70.5 <class 'float'>
PWSKILLS <class 'str'>
[1, 2, 3] <class 'list'>
True <class 'bool'>
70 <class 'int'>
45 <class 'int'>
80 <class 'int'>
100 <class 'int'>
code run successfully

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [12]:
a = int(input("Enter first number"))
b = int(input("Enter second number"))
i = 0
while i in range(1):
    if a%b == 0:
        print(f"Yes number A is purely divisible by number B and quotient is {a/b}")
        break
    else:
        print("Number A is not purely divisible by number B")
        break
else:
    print("code completed")

Enter first number 8
Enter second number 2

Yes number A is purely divisible by number B and quotient is 4.0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [13]:
l = list(range(25))
for i in range(25):
    if int(l[i])%3==0:
        print(f"{l[i]} is divisible by 3")
        i+=1
    else:
        print(f"{l[i]} is not divisible by 3")
        i+=1
else:
    print("Code ran successfully")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
Code ran successfully

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types are those datatypes in which we can update the values at index level.
Example: List
Immutable data types are those datatypes in which we can't update the values at index level.
Example: String

In [14]:
l = [1,2,3]
l[1] = 4
l

[1, 4, 3]